@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background:#675afe;
}

.container{
    width:380px;
    background:#fff;
    padding:30px;
    border-radius:10px;
}
.container header{
    text-align:center;
    font-size:30px;
    font-weight:500;
}
.container form{
    margin:40px 0 20px 0;
}
form :where(input,select,button){
    width:100%;
    border:none;
    outline:none;
    border-radius:5px;
}
form p{
    font-size:18px;
    margin-bottom: 5px;
    margin-left:5px;

}
form input{
    padding:0 15px;
    border:1px solid #999;
    height:30px;
    font-size:16px;
}
form input:focus{
    border:1px solid #675afe;
    padding:0 15px;
}
form .droplist{
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 20px;;
}
.droplist .select-box{
    display:flex;
    width:110px;
    height:40px;
    /* background:red; */
    justify-content:center;
    align-items:center;
    border: 1px solid #999;
}
.select-box select{
    width:auto;
    font-size:16px;
    margin:0 -5px 0 5px;
}
.select-box img{
max-width:28px;
}
.droplist .icon{
    font-size:24px;
    cursor:pointer;
    margin-top: 35px;
}
form .exchange-rate-message{
    font-size:18px;
    margin:25px 0 30px;
}
form button{
    height:35px;
    cursor:pointer;
    font-size:20px;
    background:#675afe;
    color:#fff;
    text-transform: capitalize;
}
.disabled{
    opacity:0.7;
    pointer-events: none;
}